################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Expert.ZeljkaMaletic.Seminar/bin/Debug/net7.0
/Expert.ZeljkaMaletic.Seminar/obj
