################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Seminar2ZeljkaMaletic/bin/Debug/net7.0
/Seminar2ZeljkaMaletic/obj
