################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Expert.MilanJurjevic.Seminar/obj
/Expert.MilanJurjevic.Seminar/bin/Debug/net6.0
